
---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---
<BaseLayout>
    <ul>
		<h1>Our About Page</h1>
        <p>You dont know anything about {identity.firstName}, where do you think she lives? {identity.country} 
            who care you dont even know about her job as {identity.occupation} or her hobbies {identity.hobbies.map(hobby => <span>{hobby} </span>)}
        </p>
        <h3>Dou you have job for me? let me know.</h3>
        <ul>
        {skills.map(skill => <li class="sk">{skill}</li>)}
    </ul>
</BaseLayout>