---
import SideBar from "../components/SideBar.astro"
import BaseLayout from "./BaseLayout.astro"

const {frontmatter} = Astro.props
---

<BaseLayout title={frontmatter.title}>
    <main class="flex ">
    <SideBar />
    <article class="">
    <h1>{frontmatter.title}</h1>
    <p>Written By: {frontmatter.author}</p>
    <img src={frontmatter.image.url} alt={frontmatter.author} width="250" height="250" />
    <slot />
    </article>
</main>
</BaseLayout>